doctype
html(ng-app='App')
	head
		base(href="/")
		block head-content
		link(rel="shorcut icon", type="image/x-icon", href="/Static/img/favicon.ico")
		link(rel="stylesheet", type="text/css", href="/Static/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/Static/vendor/toastr/toastr.css")
		link(rel="stylesheet", type="text/css", href="/Static/css/animate.css")
		link(rel="stylesheet", type="text/css", href="/Static/css/Main.css")
		link(rel="stylesheet", type="text/css", href="/Static/css/Admin.css")
		link(rel="stylesheet", type="text/css", href="/Static/css/Init.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css')
		
	body
		include currentUser
		block main-content
		include scripts
