script(type="text/javascript", src="/Static/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/Static/vendor/errors.js")
// script(type="text/javascript", src="https://cdn.socket.io/socket.io-1.3.7.js")
script(type="text/javascript", src="/Static/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/Static/vendor/toastr/toastr.js")
script(type="text/javascript", src="/Static/vendor/angular/angular.js")
script(type="text/javascript", src="/Static/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/Static/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/App/App.js")
script(type="text/javascript", src="/App/Explorer/explorerController.js")
script(type="text/javascript", src="/App/Init/initController.js")


